.copyright {
	font-family: Arial;
	font-size: 10px;
	color: #897334;
}

.products {
	font-family: Arial;
	font-size: 11px;
	color: #baa76e
}

.bodyContent {
	font-family: Arial;
	font-size: 12px;
	color: #cac2aa;
}

.Header {
	font-family: Arial;
	font-size: 16px;
	color: #897334;
	font-weight:bold;
}